{% extends 'app/base.html' %}
{% load static%}
{% block title %} Home {% endblock title%}

{% block banner-slider %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item  active ">
        <img src="{% static 'app/images/banner/banner1.jpg' %}" class="d-block w-100" alt="bannerimage" height="300" width="200">
      </div>
      <div class="carousel-item ">
        <img src="{% static 'app/images/banner/banner2.jpg' %}" class="d-block w-100" alt="bannerimage"  height="300" width="200">
      </div>
      <div class="carousel-item ">
        <img src="{% static 'app/images/banner/banner3.jpeg' %}" class="d-block w-100" alt="bannerimage"  height="300" width="200" >
      </div>
      
    </div>
  </div> 
{% endblock banner-slider %}
{% block infor %}
<div class="container">
    <div class="row bg-success text-center p-5 text-white border-bottom shadow">
        <h1>Products</h1>
        <small class="fs-5" > <b>Attire</b> provides a wide range of Women's Fashion in both Trending and Ethnic
            categories.

            It consists of all wide range of Cloths varities,types,patterns,colors which is a Simply 
            one Step Fashion Store for Women.</small>
    </div>

</div>
{% endblock infor %}


{% block main-content %}
<div class="container">
    <h2 class=" text-center">Fashion</h2>
    <br><br>

    <div class="row container">
        <div class="col-md-4 col-sm-4 mi-go wow fadeInUp"
        data-wow-duration="1s" data-wow-delay="0.6s" 
        style="animation-duration: 1s; animation-delay:0.6s;
        animation-name:none;">
           <div class="goodnesssec buttermilk smbg">
                <a href="{% url 'category' 'WC' %}">
                   <div class="goodnessseccont text-center">
                    <img src="{% static 'app/images/cloth1.png' %}" class="img-responsive center-block" alt="">
                    <p class="mlkpro">Fashion & Ethnic Wear</p>
                   </div>
                </a>
            </div>
       </div>


       <div class="col-md-4 col-sm-4 mi-go wow fadeInUp"
        data-wow-duration="1s" data-wow-delay="0.6s" 
        style="animation-duration: 1s; animation-delay:0.6s;
        animation-name:none;">
             <div class="goodnesssec buttermilk curdbgpro">
                <a href="{% url 'category' 'WA' %}">
                    <div class="goodnessseccont text-center">
                    <img src="{% static 'app/images/accessories.jpg' %}" class="img-responsive center-block" alt="">
                    <p class="mlkpro">Fashionable Accessories</p>
                    </div>
                </a>
              </div>
       </div> 
  
    

        <div class="col-md-4 col-sm-4 mi-go wow fadeInUp"
        data-wow-duration="1s" data-wow-delay="0.6s" 
        style="animation-duration: 1s; animation-delay:0.6s;
        animation-name:none;">
            <div class="goodnesssec buttermilk buttermilk">
                <a href="{% url 'category' 'SH' %}">
                   <div class="goodnessseccont text-center">
                    <img src="{% static 'app/images/shoes1.jpg' %}" class="img-responsive center-block" alt="">
                    <p class="mlkpro">Fashionable Shoes</p>
                   </div>
                </a>
            </div>
        </div>
    </div>
</div>
<br>
<br>
{% endblock main-content %}